@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

@mixin visible {
  visibility: visible;
  opacity: 1;
}

/*
  QUERY MEDIA MANAGER
  0 - 600: phone
  600 - 900: tablet portrait
  900 - 1200: tablet landscape
  [1200 - 1800]: out normal style
  > 1800: big desktop
  */

// @mixin response_phone {
//   @media (max-width: 600px) {
//     @content;
//   }
// }

// ORDER: base + typoraphy → general layouts + grid → page layout → components

@mixin response($breakpoint) {
  @if $breakpoint ==phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint ==tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint ==tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint ==big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
