@import '../../global.scss';

.labels {
  list-style: none;
  display: flex;

  &Item {
    font-size: 1.1rem;
    font-weight: 600;
    display: inline-block;
    height: 2.4rem;
    display: flex;
    align-items: center;
    padding: 0 1.2rem;
    margin-top: 6px;
    opacity: 0.87;
    background-color: rgba(95, 99, 104, 0.157);
    border-radius: 10rem;
    position: relative;

    &:not(:last-child) {
      margin-right: 6px;
    }

    &RemoveBtn {
      position: absolute !important;
      top: 2px;
      right: 2px;
      opacity: 0.87;
      background-color: rgba(95, 99, 104, 0.157);

      @include hidden;
    }

    &:hover &RemoveBtn {
      @include visible;
    }
  }
}
