@import '../../../global.scss';

.sidebar {
  width: 25rem;
  flex-shrink: 0;

  &List {
    list-style: none;
  }

  &Item {
    padding: 0 1rem 0 2rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: $color-grey-dark;
    border-radius: 0 10rem 10rem 0;
    transition: all 0.3s;
    cursor: pointer;
    column-gap: 2rem;
    font-weight: 500;

    &:hover {
      background-color: $color-grey-light;
    }

    &Active {
      background-color: $color-yellow-light !important;
    }
  }

  &ItemIext {
  }
}

.icon {
  fill: $color-grey;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.iconActive {
  fill: $color-grey-dark;
}
