@import '../../../global.scss';

.sidebar {
  color: $color-grey-dark;
  font-size: 1.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: calc(100% - 6.4rem);
  min-height: auto;
  overflow: hidden;
  position: fixed;
  top: 6.4rem;
  z-index: 2;
  transition-duration: 150ms;
  transition-property: width, box-shadow, border-radius;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 350ms;
  width: 8rem;

  &:hover {
    box-shadow: 0 16px 10px 0 rgba(0, 0, 0, 0.14),
      0 11px 18px 0 rgba(0, 0, 0, 0.12), 0 13px 5px -1px rgba(0, 0, 0, 0.2);
    width: 28rem;

    .sidebarItem {
      border-radius: 0 10rem 10rem 0;
      width: 100%;
      margin-left: 0;
      padding-left: 2.25rem;
    }
  }

  &List {
    list-style: none;
    flex: 1 0 auto;
    margin-top: 1rem;
  }

  &Item {
    cursor: pointer;
    position: relative;
    border: 1px solid transparent;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.25rem;
    height: 4.8rem;
    width: 4.8rem;
    overflow: hidden;
    padding-left: 1.25rem;
    margin-left: 1rem;
    user-select: none;
    transition-duration: 150ms;
    transition-property: margin, width, padding, border-radius;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 350ms;

    span {
      cursor: pointer;
      white-space: nowrap;
      margin-left: 2rem;
    }

    &:hover {
      background-color: $color-grey-light;
    }

    &Active {
      background-color: $color-yellow-light !important;
    }
  }
}

.icon {
  fill: $color-grey;
  display: inline-block;
  height: 2.4rem;
  width: 2.4rem;
  margin-right: 1rem;
  cursor: pointer;
  flex-shrink: 0;
}

.iconActive {
  fill: $color-grey-dark;
}
